.boxlogin {
  position: relative;
  width: 360px;
  height: 600px;
  background: linear-gradient(90deg, #0e8080, #c0d8d8);

  box-shadow: 0px 0px 24px #225555;
}
.backgroud {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.bkg {
  transform: rotate(45deg);
  position: absolute;
}
.backgroud1 {
  height: 520px;
  width: 520px;
  background: #dde4e4;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.backgroud2 {
  height: 220px;
  width: 220px;
  background: #65b7b7;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.backgroud3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #0e8080, #11acac);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.backgroud4 {
  height: 400px;
  width: 200px;
  background: #74bcbc;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
.loginForm {
  position: absolute;
  z-index: 1;
  top: 140px;
  left: 30px;

  input {
    margin-top: 36px;
    border: none;
    border-bottom: 2px solid #d1d1d4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: 0.2s;
  }

  input:active,
  input:focus,
  input:hover {
    outline: none;
    border-bottom-color: #0e8080;
  }
  .iconForm {
    color: #0e8080;
    position: absolute;
    margin-top: 46px;
  }
}

.button {
  background: #dde4e4 !important;
  font-size: 14px !important;
  margin-top: 50px;
  padding: 14px 12px !important;
  border-radius: 26px;
  border: 1px solid #d4d3e8 !important;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #0e8080 !important;
  box-shadow: 0px 2px 2px #15adad;
  cursor: pointer;
  transition: 0.2s;
  span {
    padding: 6px 14px;
    margin-right: 90px;
  }
  .iconLogin {
    margin-left: 12px;
    font-size: 22px;
  }
}
.button:active,
.button:focus,
.button:hover {
  opacity: 1 !important;

  border: 1px solid #0e8080 !important;
  outline: none;
}
.optionLogin {
  position: absolute;
  z-index: 1;
  bottom: 80px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  min-height: 50px;
  h4 {
    position: absolute;
    display: block;
    top: 8px;
    right: 18px;
    color: #dde4e4;
  }

  svg {
    width: 20px;
    fill: #dde4e4 !important;
    cursor: pointer;
  }
  .option1 {
    position: absolute;
    bottom: -24px;
    right: 100px;
    & :hover {
      width: 24px;
    }
  }
  .option2 {
    position: absolute;
    bottom: -24px;
    right: 34px;
    & :hover {
      width: 24px;
    }
  }
  .option3 {
    position: absolute;
    bottom: -24px;
    right: 66px;
    & :hover {
      width: 24px;
    }
  }
}
.exit {
  position: absolute;
  top: -4px;
  font-size: 26px !important;
  &:hover {
    color: #0e8080;
  }
}
