.playMusic {
  background-color: #c0d8d8;
  height: 90px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
}
.infoSong {
  height: 90px;
  margin-right: 56px;
}
.playbox {
  height: 90px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.playSong {
  display: flex;
  align-items: center;
  margin-top: 12px;
  button {
    color: #32323d;

    font-size: 20px;
    padding: 3px;
    margin-right: 14px;
    margin-left: 14px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover {
      color: #0e8080;
    }
  }
  .Play,
  .Pause {
    font-size: 40px;
    margin: 0;
  }
}
.timeSong {
  height: 18px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .timeStart {
    margin-left: 12px;
    color: #79858a;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  .timeEnd {
    margin-right: 12px;
    color: #464952;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  .timebox {
    height: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .timeline {
      width: 488px;
      height: 2px;
      background-color: #acc2c2;
      border-radius: 4px;
      // background: linear-gradient(
      //   to right,
      //   #0e8080 0%,
      //   #0e8080 53.0837%,
      //   rgba(0, 0, 0, 0.1) 53.0837%,
      //   rgba(0, 0, 0, 0.1) 100%
      // );
    }
    .timenow {
      background-color: #0e8080;

      height: 2px;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      display: none;
      // transform: translate(275.232px, -4px);
    }
    &:hover {
      .timeline {
        height: 4px;
      }
      .timenow {
        display: block;
      }
    }
  }
}

.optionSong {
  display: flex;
  margin-right: 24px;
  button {
    color: #32323d;
    font-size: 16px;
    padding: 3px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover {
      color: #0e8080;
    }
  }
  .listsong {
    border-left: 2px solid #b0b0bc;
    padding-left: 18px;
  }
  .soud {
    display: flex;
    align-items: center;
    .soundbox {
      height: 18px;
      display: flex;
      align-items: center;
      .volume {
        width: 70px;
        height: 3px;
        background-color: transparent;
        margin-left: 8px;
        border-radius: 4px;
      }
      .volumenow {
        background-color: #0e8080;

        border-radius: 50%;
        width: 12px;
        height: 12px;
        display: none;
        // transform: translate(275.232px, -4px);
      }
      &:hover {
        .volume {
          height: 6px;
        }
        .volumenow {
          display: block;
        }
      }
    }
  }
}
.active {
  display: none;
}
.choose {
  color: #0e8080 !important;
}
