.SinggerTop {
  margin-top: 36px;
  h1 {
    font-size: 20px;
    color: #32323d;
  }
  .boxSinggerTop {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    .boxmusic {
      width: calc(27.823vh + 5px);
    }
    .imgSinggerTop {
      height: calc(28.7vh);
      width: calc(27.823vh + 5px);
      overflow: hidden;
      border-radius: 6px;

      cursor: pointer;
      position: relative;
      &:hover {
        .loadbox {
          display: flex;
        }
        img {
          transform: scale(1.1) translateZ(0);
          transition: transform 0.7s;
        }
      }
    }
    .loadbox {
      height: calc(28.7vh);
      width: calc(27.823vh + 5px);
      background-color: rgba($color: #000000, $alpha: 0.3);
      position: absolute;
      left: 0px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 20px;
      color: white;
      display: none;
      .showplay {
        font-size: 36px;
        &:hover {
          color: #0f7070;
          cursor: pointer;
        }
      }
      .showbutton {
        padding: 4px;
      }
      .showbutton:hover {
        color: #0f7070;
        cursor: pointer;
      }
    }
    img {
      height: calc(28.7vh);
      width: calc(27.823vh + 5px);
      border-radius: 6px;
      transition: transform 0.7s;
    }
    p {
      color: #696969;
      margin-top: 6px;
      font-size: 15px;
    }
  }
}
@media (max-width: 1350px) {
  .hide {
    display: none;
  }
}
