.chill {
  margin-top: 36px;
  h1 {
    font-size: 20px;
    color: #32323d;
  }
  .boxchill {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    .boxmusic {
      width: 213.6px;
    }
    .imgchill {
      width: 213.6px;
      overflow: hidden;
      border-radius: 6px;
      height: 213.6px;
      cursor: pointer;
      position: relative;
      &:hover {
        .loadbox {
          display: flex;
        }
        img {
          transform: scale(1.1) translateZ(0);
          transition: transform 0.7s;
        }
      }
    }
    .loadbox {
      height: 213.6px;
      width: 213.6px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      position: absolute;
      left: 0px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 20px;
      color: white;
      display: none;
      .showplay {
        font-size: 36px;
        &:hover {
          color: #0f7070;
          cursor: pointer;
        }
      }
      .showbutton {
        padding: 4px;
      }
      .showbutton:hover {
        color: #0f7070;
        cursor: pointer;
      }
    }
    img {
      height: 213.6px;
      width: 213.6px;
      border-radius: 6px;
    }
    p {
      color: #696969;
      margin-top: 6px;
      font-size: 15px;
    }
  }
}
