.header {
  width: 100%;
  height: 70px;
  background-color: rgb(66, 4, 4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 59px;
  border-bottom: 1px solid rgb(108, 44, 44);
  button {
    font-size: 28px;
    background-color: transparent;
    border: none;
    padding: 12px;
    cursor: pointer;
    margin-right: 12px;
    color: white;
  }
  button:hover {
    opacity: 0.8;
  }
}
.boxsign {
  display: flex;
}
.dowload {
  display: flex;
}
.search {
  display: flex;
  align-items: center;

  .boxsearch {
    display: flex;
    align-items: center;
    height: 40px;
    width: 440px;
    background-color: rgb(116, 60, 60);
    border-radius: 20px;
    button {
      font-size: 22px;
    }
    .inputsearch {
      font-size: 16px;
      width: 340px;
      padding: 10px 0;
      border: none;
      background-color: transparent;
      color: white;
      word-break: normal;
    }
    input::placeholder {
      color: rgb(195, 194, 194);
    }
    .inputsearch:focus {
      outline: none;
    }
  }
}
