* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxtippy {
  height: 24px;
  color: white;
  background-color: rgb(61, 61, 61);
  padding: 1.5px 8px;
  border-radius: 6px;
  font-size: 13px;
  text-align: center;
}
