* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ced9d9;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #0f7070;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0f7070;
}

.boxtippy {
  height: 24px;
  color: white;
  background-color: rgb(61, 61, 61);
  padding: 1.5px 8px;
  border-radius: 6px;
  font-size: 13px;
  text-align: center;
}
.activebutton {
  background-color: #e7ecec;
  color: #0f7070;
  border-left: 4px solid #0e8080;
}
